[submodule "api"]
	path = api
	url = https://github.com/mpizenberg/otis-api.git
[submodule "webclient"]
	path = webclient
	url = https://github.com/mpizenberg/otis-webclient.git
[submodule "analysis"]
	path = analysis
	url = https://github.com/mpizenberg/otis-analysis.git
